@font-face
{
    font-family: "Pixel Cyr";
    font-weight: normal;
    font-style: normal;

    src: url("../fonts/PixelCyrNormal.ttf");
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, head, body, #main
{
    width: 100%;
    min-height: 100vh;
}

body
{
    font-family: "Pixel Cyr", normal;

    color: #FFFFFF;
    text-shadow: 3px 2px 0 rgba(0, 0, 0, 1);

    image-rendering: pixelated;
}

#content
{
    display: flex;

    max-width: 2560px;
    margin: 0 auto;

    flex-flow: row nowrap;
    justify-content: center;
}

#main
{
    animation: backgroundAnimate 60s linear infinite;

    background-image: url("../img/background.png");
    background-attachment: fixed;
    background-position: 0 center;
    background-size: auto 100%;

    background-repeat-y: no-repeat;
}

@keyframes backgroundAnimate
{
    from
    {
        background-position: 0 center;
    }
    50%
    {
        background-position: 100 center;
    }
    to
    {
        background-position: 0 center;
    }
}

.first
{
    display: flex;
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 25px;

    flex-flow: column nowrap;
    flex-grow: 10;
}

.second
{
    height: 100%;
    padding: 25px;

    flex-grow: 1;
}


.b-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 0 15px;
}

.b-one, .b-four
{
    display: flex;

    padding: 35px 65px 25px 65px;

    border-radius: 25px;
    background-image: url("../img/sprite_1.png");
    background-position: 100%;
    background-size: auto 100%;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);

    align-items: center;
    background-repeat-y: no-repeat;
    justify-content: center;
}

.b-four {

}

.b-one h1, .b-four h1
{
    width: 100%;
}

.b-two
{
    display: flex;

    align-items: center;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: center;;
}

#button
{
    position: relative;

    width: 100%;
    height: 300px;
    margin: 100px 25px;

    cursor: pointer;

    background-image: url("../img/ring.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button-vfx
{
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bunus-vfx
{
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    filter: grayscale(1);
}

.bonus
{
    position: relative;

    display: flex;

    margin-bottom: 25px;
    padding: 65px 45px 35px 45px;

    cursor: pointer;

    border-radius: 25px;
    background-image: url("../img/sprite_1.png");
    background-position: 100%;
    background-size: auto 100%;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);

    align-items: center;
    background-repeat-y: no-repeat;
    flex-flow: column nowrap;
    justify-content: center;
}

.bonus > h2 {
    margin-bottom: 10px;
    align-self: flex-start;
}
.bonus > p {
    font-size: 17px;
    align-self: flex-start;
}

#counter, #factor, #background
{
    font-size: 38px;

    padding-left: 10px;
}

@media screen and (max-width: 1024px)
{
    .b-one, .b-four, .bonus > p {
        font-size: 16px;
    }
    .b-one, .b-four {
        padding: 25px 45px 20px 45px;
    }
    .b-one h1, .b-four h1 {
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #counter, #factor, #background {
        font-size: 33px;
    }
    #button {
        margin: 25px;
    }
}

@media screen and (max-width: 768px)
{
    .first {
        height: 100%;
        position: static;
    }
    #content, .b-wrapper {
        flex-flow: column nowrap;
    }
    .b-one, .b-four {
        width: auto;
        width: fit-content;
    }
}

@media screen and (max-width: 576px)
{
    #button {
        margin: 0 25px;
        margin-top: 25px;
    }
    .b-one, .b-four
    {
        width: 100%;
    }
    .b-one h1, .b-four h1 {
        overflow: hidden;
    }
    .b-one h1, .b-one span, .b-four h1, .b-four span
    {
        text-align: center;
    }
    .b-one h1, .b-four h1
    {
        font-size: 23px;
    }
    #counter, #factory
    {
        font-size: 28px;
    }
}