@import url("https://fonts.googleapis.com/css?family=Oswald");

*
{
    font-family: "Oswald", sans-serif;

    margin: 0;
    padding: 0;
}

html, head, body, #main
{
    width: 100%;
    height: 100%;
}

body
{
    background-image: linear-gradient(15deg, #13547A 0%, #80D0C7 100%);
}

#main
{
    display: flex;

    align-content: center;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.first
{
    display: flex;

    width: 70%;
    height: 95%;

    flex-flow: column nowrap;
    justify-content: space-between;
}

.second
{
    width: 25%;
    height: 95%;
}

.b-one, .b-two, .b-three
{
    width: 100%;

    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.b-one
{
    display: flex;

    height: 10%;

    align-items: center;
    justify-content: center;
}

.b-two
{
    display: flex;

    height: 85%;

    align-items: center;
    justify-content: center;
}

.b-three
{
    display: flex;

    height: 100%;

    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}

.bonus
{
    display: flex;

    margin: 15px 0;

    transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
    text-decoration: none;

    color: black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    flex-flow: row nowrap;
}

.bonus:hover
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#button
{
    width: 300px;
    height: 300px;

    transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);

    border-radius: 100%;
    background-image: linear-gradient(15deg, #13547A 0%, #80D0C7 100%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#button:hover
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.buy
{
    text-align: center;
    text-decoration: none;
}

.bonus
{
    display: flex;

    width: 90%;
    padding: 10px 0px;

    background-color: rgba(0, 0, 0, 0.1);

    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}

.pressed
{
    padding: 5px;
}
